@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root{
    --cor1: #001425;
    --cor2: #224D73;
    --cor3: #0066BF;
    --cor4: #4BC8E1;

    --font-padrao: arial, verdana, sans-serif;
    --font-titulos: 'Poppins', sans-serif;
    --font-extra: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}

header{   
    height: 300px;
    margin: auto;
    background-color: var(--cor1);
}


.h1cabeçalho{
    color: var(--cor4);
    font-size: 2em;
    padding: 15px;
    padding-top: 80px;
    margin-left: 50px;
    font-family: var(--font-titulos);
}

header > p {
    font-size: 1.2em;;
    margin-left: 80px;
    margin-top: -20px;
    color: white;
    font-family: var(--font-padrao);
}

header > nav {
    text-align: right;
    margin-top: -160px;
    margin-right: 20px;
    font-family: var(--font-padrao);
    
}

nav > a > img {
    width: 30px;
    height: 30px;

}
Nav > a {
    color: var(--cor4);
    text-decoration: none;
    margin: 5px;
}

nav > a:hover{
    color: var(--cor1);
    background-color: var(--cor3);
    padding: 5px 5px;
    text-decoration: underline;
    transition-duration: 0.5s;
    border-radius: 10%;
}

main{
    min-width: 320px;
    max-width: 900px;
    margin: auto;
    background-image: linear-gradient(to top,  var(--cor3), var(--cor1));
}

main h1{
    font-family: var(--font-titulos);
    color: var(--cor4);
    font-size: 2.0em;
    text-align: center;
    font-weight: bolder;
    background-image: linear-gradient(to right,  var(--cor2), rgba(255, 251, 251, 0));
    margin: 20px 0px;
}

main h2{
    font-family: var(--font-padrao);
    color: var(--cor3);
    font-size: 2.0em;
    text-align: center;
    font-weight: bolder;
}
p{
    line-height: 1.5em;
    text-indent: 30px;
    text-align: justify;
    color: white; 
    font-family: var(--font-padrao);   
}

img{
    width: 100%;
}

.imgesquerdo{
    width: 400px;    
}

.container{
    justify-content: center;
    align-items: center;
    display: flex;
}

.paragrafodireito{
    display: inline-block;
    text-align: justify;
    width: 200px;
    margin: 0px 20px;
    color: white;
}

.pimgdefundo{
    background: black url(imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}

#habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    background:black url(imagens/fundoazul.jpg) center center no-repeat fixed;
    background-size: cover;
    padding: 10px;    
}

#portifolio h2 {
    margin-bottom: 20px;
    text-align: center;

}

#portifolio p {
    padding-bottom: 2em;
    margin: 10px 30px; 
     
}

#android{
    max-width: 500px;
    min-width: 200px;
    margin: auto;    
}

#cordel{
    max-width: 500px;
    min-width: 200px;
    margin: auto;
}

.link > a:hover{
    padding: 20px;
    transition-duration: 0.5s;
    color: var(--cor4);
    text-decoration: underline;
}

#carreira{
    position: relative;
    background-color: var(--cor1);
    padding-bottom: 56.5% ;
    margin: auto;
}

#carreira > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


#front{
    position: relative;
    background-color: var(--cor1);
    padding-bottom: 56.5% ;
    margin: auto;
}

#front > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#estudo{
    position: relative;
    background-color: var(--cor1);
    padding-bottom: 56.5% ;
    margin: auto;
}

#estudo > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#rotina{
    position: relative;
    background-color: var(--cor1);
    padding-bottom: 56.5% ;
    margin: auto;;
}

#rotina > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#canal > p{
    text-align: center;
    margin: 15px;
}

#canal > p > a{
    color: white;
    text-decoration: none;   
}
#canal > p > a:hover {
    color: var(--cor4);
    background-color: var(--cor1);
    padding: 5px 5px;
    text-decoration: underline;
    transition-duration: 0.5s;
    border-radius: 10%;
}

#instagram h1 {
    margin: 10px;
    
}
