@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root{
    --cor1: #001425;
    --cor2: #224D73;
    --cor3: #0066BF;
    --cor4: #4BC8E1;

    --font-padrao: arial, verdana, sans-serif;
    --font-titulos: 'Poppins', sans-serif;
    --font-extra: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor2);
}

header{   
    height: 300px;
    background-color: var(--cor1);
}


.h1cabeçalho{
    color: var(--cor4);
    font-size: 2em;
    padding: 15px;
    padding-top: 80px;
    margin-left: 50px;
    font-family: var(--font-titulos);
}


header > p {
    font-size: 1.2em;;
    margin-left: 80px;
    margin-top: -20px;
    color: white;
    font-family: var(--font-padrao);
}

#icon {   
    margin-top: -160px;
    margin-left: 20px;      
}

nav > a > img {
    width: 30px;
    height: 30px;
}

#nomes{
    text-align: right;
    margin-top: -25px;
    margin-right: 20px;
    font-family: var(--font-padrao);
    margin-left: 40px;
    
}

Nav > a {
    color: var(--cor4);
    text-decoration: none;
    margin: 5px;
}

nav > a:hover{
     padding: 15px;
    transition-duration: 0.5s;
}

#nomes a:hover {
    color: var(--cor1);
    background-color: var(--cor3);
    padding: 5px;
    text-decoration: underline;
    transition-duration: 0.5s;
    border-radius: 10%;
}

main{
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    background-image: linear-gradient(to top,  var(--cor3), var(--cor1));
}

main h1{
    font-family: var(--font-titulos);
    color: var(--cor4);
    font-size: 3vh;
    text-align: left;
    font-weight: bolder;
    background-image: linear-gradient(to right,  var(--cor1), rgba(255, 251, 251, 0));
    margin: 20px 0px;
    padding-left: 20px;
}

main h2{
    font-family: var(--font-padrao);
    color:var(--cor3);
    background-image: linear-gradient(to right,  var(--cor2), rgba(255, 251, 251, 0));
    font-size: 2vh;
    text-align: center;
    font-weight: bolder;
}
p{
    line-height: 1.5em;
    text-indent: 30px;
    text-align: justify;
    color: white; 
    font-family: var(--font-padrao);  
    font-size: 1.2em;
}

img{
    width: 100%;
}

.imgesquerdo{   
    display: inline-block;
    width: 25vh;
    margin: 15px;    
}

.paragrafodireito{
    padding: 20px;   
}

.pimgdefundo{
    background: black url(imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}

#habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    background:black url(imagens/fundoazul.jpg) center center no-repeat fixed;
    background-size: cover;
    padding: 10px;    
}

#imghabilidades{
    max-width: 400px;
    min-width: 100px;
    margin: 20px;
}

#portifolio h2 {
    margin-bottom: 20px;
    text-align: center;

}

#portifolio p {
    padding-bottom: 2em;
    margin: 10px 30px; 
     
}

#android{
    max-width: 300px;
    min-width: 100px;
    margin: auto;    
}

#cordel{
    max-width: 300px;
    min-width: 100px;
    margin: auto;
}

.link > a:hover{
    padding: 20px;
    transition-duration: 0.5s;
    color: var(--cor4);
    text-decoration: underline;
}

#carreira{
    position: relative;
    padding-bottom: 56.5% ;
    margin: auto;   
   
}

#carreira > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


#front{
    position: relative;
    padding-bottom: 56.5% ;
    margin: auto;
}

#front > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#estudo{
    position: relative;
    padding-bottom: 56.5% ;
    margin: auto;
}

#estudo > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#rotina{
    position: relative;
    padding-bottom: 56.5% ;
    margin: auto;;
}

#rotina > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#pcanal{
    text-align: center;
    padding: 11px;    
    text-indent: 0px;
}

#pcanal> a{
    color: white;
    text-decoration: none;  
       
}
#pcanal > a:hover {
    color: var(--cor4);
    background-color: var(--cor1);
    padding: 5px 5px;
    text-decoration: underline;
    transition-duration: 0.5s;
    border-radius: 10%;
}

footer{
    background-color: var(--cor1);    
}
footer p {
    text-align: center;
    font-size: 0.8em;
    padding: 3px;
    text-indent: 0px;
}

#titulosoremim{
    font-size: 3em;
    text-align: left;
    margin-left: 20px;

}
#headersobremim{
    background:black url(imagens/eu2.png) center bottom no-repeat scroll;
    background-size: cover;
    height: 800px;
}


section{
    text-align: left;
    padding-bottom: 10vh;
    padding-top: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font-padrao);
    font-size: 2.3vh;
    margin: auto;
    
}

section p{
    padding-bottom: 2em;
}

section.eu {
    background-color: black;
    box-shadow: inset 6px 6px 6px 13px 0px rgba(0, 0, 0, 0.438);
    width: 100vh;
}

section.eu > p {
    background-color: rgba(0, 0, 0, 0.712);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1 px 0px black ;
    width: 50vh;
}
section#baiano{
    background: rgb(0, 0, 0) url(imagens/baiano.jpg) center top no-repeat fixed;
    background-size: cover;
    
}

#cettps{
    background:black url(imagens/cettps.jpg) center top no-repeat fixed;
    background-size: cover;
}

#prog{
    background:black url(imagens/prog.jpg) center center no-repeat fixed;
    background-size: cover;
}

#cettps{
    background:black url(imagens/cettps.jpg) center top no-repeat fixed;
    background-size: cover;
}


#criacaodeconteudo{
    background:black url(imagens/criacaodeconteudo.jpg) center center no-repeat fixed;
    background-size: cover;
}

h3{
    font-family: var(--font-padrao);
    color: white;
    font-size: 1em;
    text-align: center;
    font-weight: bolde;
    padding: 20px;
    
}

.dp{
    border: 2px solid var(--cor4);
        display: inline-block;
        border-radius: 10px;
        background-color: var(--cor2);
        width: 40vh;
        height: vh;
            
}

#dp1 ,#dp2 , #dp3, #dp4, #dp5, #dp6{
    padding: 30px;
    margin: auto;
}

.dp > img{
    
}